
Browser-based Models with TensorFlow/Week 3/Exercise/my_model.h5
Browser-based Models with TensorFlow/Week 3/Exercise/model.json
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard9of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard8of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard7of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard6of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard5of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard4of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard3of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard2of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard1of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/group1-shard10of10.bin
Browser-based Models with TensorFlow/Week 3/Exercise/Exercise.zip
Browser-based Models with TensorFlow/Week 2/Exercise/Exercise.zip
Browser-based Models with TensorFlow/Week 1/Exercise/Exercise_week1.zip
